<%= simple_nested_form_for @order, html: {class: 'form-material form-horizontal'} do |f| %>
  <div class='form-inputs'>
    <div class='col-md-12'>
      <%= f.input :description,  placeholder: 'description' %>
    </div>
    <div class='col-md-6'>
      <%= f.input :company_id, collection: Company.all.map{|a| [a.name, a.id]}, prompt: 'Select Company' %>
    </div>
    <div class='col-md-6'>
      <%= f.input :client_id, collection: Client.all.map{|a| [a.name, a.id]}, prompt: 'Select Customer' %>
    </div>
    <div class='col-md-6'>
      <%= f.input :order_number, as: :string, input_html: {value: @order.order_number.present? ? @order.order_number : order_number , placeholder: 'order number'} %>
    </div>
    <div class='col-md-6'>
      <%= f.input :ordered_at, as: :string, input_html: {value: @order.ordered_at.present? ? formatted_date(@order.ordered_at) : formatted_date(Date.today),placeholder: 'order date', class: 'datepicker'} %>
    </div>
  </div>

  <h4> Order Items </h4>
  <%= f.fields_for :order_items do |a| %>
    <div class= 'main row'>
      <div class='col-md-3'>
        <%= a.input :product_id, collection: Product.all.map{|a| [a.name, a.id]}, prompt: 'Select product', input_html: { :class => 'product_id' } %>
      </div>
      <div class='col-md-3'>
        <%= a.input :unit_price, placeholder: 'unit price',input_html: {class: 'uprice' }  %>
      </div>
      <div class='col-md-3'>
        <%= a.input :quantity, placeholder: 'quantity', input_html:{ class: 'quant', autocomplete: :off }  %>
      </div>
      <div class='col-md-3'>
        <%= a.input :amount ,placeholder: 'amount', readonly: true, input_html: {class: 'amt' } %>
      </div>
    </div>
    <%= a.link_to_remove 'Remove' %>
  <% end %>
  <%= f.link_to_add 'Add product', :order_items %>
  <h4> Shipping Address </h4>
  <%country = @order.shipping_address.country.present? ? @order.shipping_address.country : 'US'%>
  <%state = @order.shipping_address.state.present? ? @order.shipping_address.state : 'AL'%>
  <%= f.fields_for :shipping_address do |addr| %>
    <div class='col-md-6'>
      <%= addr.input :line_1 %>
    </div>
    <div class='col-md-6'>
      <%= addr.input :line_2%>
    </div>
    <div class='col-md-4'>
      <%= addr.input :country,collection: country_select, as: :select,include_blank: 'Select Country...',  input_html: {id: 'dropdown_country', class: 'country_dropdown '}%>
    </div>
    <div class='col-md-4'>
      <%= addr.input :state, collection: state_select(country), as: :select, prompt: 'Select State...', input_html: {id: 'dropdown_state', class: 'state_dropdown ', placeholder: 'Please select'} %>
    </div>
    <div class='col-md-4'>
      <%= addr.input :city, collection: CS.get.map{|k,v| [v,k]}, as: :select, :include_blank => 'Select City...', input_html: {id: 'dropdown_city', class: 'city_dropdown ', placeholder: 'Please select'} %>
    </div>
    <div class='col-md-6'>
      <%= addr.input :zip%>
    </div>
  <%end%>
  <div class='col-md-12'>
    <%= f.submit 'Save',class: 'btn btn-info btn-lg'%>
  </div>
<%end %>

