
<div class="form-inputs">
	<%= f.input :company_id, collection: Company.all.map{|a| [a.name, a.id]} %>
	<%= f.input :client_id, collection: Client.all.map{|a| [a.name, a.id]} %>	
	<%= f.input :order_number %>
	<%= f.input :order_description %>
</div>

<h4> Order Items </h4>
<%= f.link_to_add "Add a task", :order_items %>
<%= f.fields_for :order_items do |a| %>
  <div class = "aaa"> 
  	<%= a.label :product %>
  	<%= a.collection_select :product_id, Product.all, :id, :name %>
    <%= a.label :Quantity %>
    <%= a.text_field :quantity %>
    <%= a.label :Amount %>
    <%= a.text_field :amount %>

  </div>
  <%= a.link_to_remove "Remove this task" %>
<% end %>
<%= f.submit 'Save' %>