<%= simple_nested_form_for @order, html: {class: "form-material form-horizontal"} do |f| %>
  <div class="form-inputs">
    <%= f.input :company_id, collection: Company.all.map{|a| [a.name, a.id]} %>
    <%= f.input :client_id, collection: Client.all.map{|a| [a.name, a.id]} %>
    <%= f.input :order_number %>
    <%= f.input :order_description %>
    <%= f.input :order_at, as: :string, label: "Order Date", input_html: {value: @order.order_at.present? ? formatted_date(@order.order_at) : formatted_date(Date.today), class: "datepicker"} %>
  </div>
  <h4> Order Items </h4>
  <%= f.link_to_add "Add order", :order_items %>
  <%= f.fields_for :order_items do |a| %>
    <div class = "aaa">
      <%= a.input :product_id, collection: Product.all.map{|a| [a.name, a.id]}, input_html: { :class => 'product_id' } %>
      <%= a.input :unit_price, input_html: { :id => 'uprice' }  %>
      <%= a.input :quantity, input_html:{ :class => 'quant', autocomplete: :off }  %>
      <%= a.input :amount , label: "Amount", input_html: { :id => 'amt' } %>
    </div>
    <%= a.link_to_remove "Remove" %>
  <% end %>
  <%= f.submit 'Save',class: "btn btn-info btn-lg"%>
<%end %>
