<%= f.input :name, label: "Client Name", placeholder: "Client name" %>
<%= f.input :email, label: "Email", placeholder: "Email" %>
<%= f.input :mob_number, label: "Mobile Number", placeholder: "Mobile Number" %>
<%= f.input 'company_id' , label: "Company", collection: Company.all.map{ |a| [a.name, a.id]} %>

<%= f.fields_for :address do |addr| %>
  <%= addr.input "line_1", label: "Address Line 1" %>
  <%= addr.input "line_2", label: "Address Line 2" %>
  <%= addr.input :country, collection: CS.get.map{|k,v| [v,k]}, as: :select,  input_html: {class: "country_dropdown ", placeholder: "Please select"}%>
  <%= addr.input :state, collection: CS.get.map{|k,v| [v,k]}, as: :select, input_html: {class: "state_dropdown ", placeholder: "Please select"}%>
  <%= addr.input "zip", label: "Zip" %>
  <%= f.submit "Save", class: "btn btn-info btn-lg" %>
<%end%>

<script type="text/javascript">

  $('.country_dropdown').select2();
  $('.state_dropdown').select2();
  $('#client_address_attributes_country').change(function() {
    element = $(this).val()
    $.ajax({
      url: '/companies/find_states',
      data: {country_value: element},
      type: "GET",
      success:function(data) {
        var output = [];
        output.push('<option value="">Please select </option>');
        $.each(data, function(key, value){
          output.push('<option value="'+ key +'">'+ value +'</option>');
        });
        console.log(output);
        $('#client_address_attributes_state').html(output);
      }
    });
  });
</script>
