<div class='col-md-6'>
  <%= f.input :name, label: 'Client Name', placeholder: 'Client name' %>
</div>
<div class='col-md-6'>
  <%= f.input :email, label: 'Email', placeholder: 'Email' %>
</div>
<div class='col-md-6'>
  <%= f.input :mob_number, label: 'Mobile Number', placeholder: 'Mobile Number' %>
</div>
<div class='col-md-6'>
  <%= f.input 'company_id' , label: 'Company', collection: Company.all.map{ |a| [a.name, a.id]} %>
</div>
<h3>
  Address
</h3>
<%= f.fields_for :address do |addr| %>
  <div class='col-md-6'>
    <%= addr.input 'line_1',placeholder: 'line 1' %>
  </div>
  <div class='col-md-6'>
    <%= addr.input 'line_2', placeholder: 'line 2' %>
  </div>
  <%country = @client.address.country.present? ? @client.address.country : 'US'%>
  <%state = @client.address.state.present? ? @client.address.state : 'AL'%>
  <div class='col-md-4'>
    <%= addr.input :country, collection: country_select, as: :select, include_blank: 'Select Country', input_html: {id: 'dropdown_country',class: 'country_dropdown', }%>
  </div>
  <div class='col-md-4'>
  <%= addr.input :state, collection: state_select(country), as: :select, include_blank: 'Select State', input_html: {id: 'dropdown_state', class: 'state_dropdown '}%>
  </div>
  <div class='col-md-4'>
  <%= addr.input :city, collection: city_select(country, state), as: :select,prompt: 'Select City',  input_html: {id: 'dropdown_city', class: 'city_dropdown '}%>
  </div>
  <div class='col-md-6'>
    <%= addr.input 'zip', placeholder: 'zip'%>
  </div>
  <div class='col-md-12'>
    <%= f.submit 'Save', class: 'btn btn-info btn-lg' %>
  </div>
<%end%>


