<div class="col-sm-12">
  <div class="white-box">
    <h3 class="box-title m-b-0">CLIENTS</h3>
    <p class="text-muted m-b-30"></p>
    <div class="table-responsive custom_datatable">
      <table id="client_datatable" class="display nowrap" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>company</th>
            <th>Email</th>
            <th>Mobile</th>
            <th >View</th>
            <th>Edit</th>
            <th> Delete </th>
          </tr>
        </thead>
        <tbody>
          <% @clients.each do |client| %>
            <tr>
              <td><%= client.name %></td>
              <td><%= Company.find_by(id: client.company_id).name %></td>
              <td><%= client.mob_number %></td>
              <td><%= link_to 'Show', client %></td>
              <td><%= link_to 'Edit', edit_client_path(client) %></td>
              <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  datatable('client_datatable', 1, [3,4,5], 20, [0,1,2])
</script>
