<table>
	<tr>
		<td>Name </td>
    <td> Email</td>
    <td> Mobile Number</td>
    <td> Action </td>
  </tr>
  <% @clients.each_with_index do |a| %>
    <tr>
			<td><%= a.name %></td>
			<td><%= a.email %></td>
			<td><%= a.mob_number %></td>
			<td>
			<%= link_to 'Show', client_path(a) %></td>
		</tr>
	<% end %>
</table>
<%= will_paginate @clients %>

