<h3> ORDER DETAILS </h3>

Order Number: <%= @order.order_number %>
<br>
Order Detail: <%= @order.order_description %>
<br>
Order Date: <%=(@order.order_at).to_date.strftime("%d-%m-%Y")
 %>

<br>
<br>
<% if @order.order_items.present? %>
	<table border = "1", width = "400">
		<col width="500">
		<col width="530">
		<col width = "500">
		<col width = "500">

		<tr>
			<th height="40"> Product </th>
			<th height="40"> Unit Price </th>
			<th height="40"> Quantity </th>
			<th height="40"> Amount </th>
		</tr>
		<tbody>
			<% @order.order_items.each_with_index do |i| %>
				<tr>
				  <td><%= i.product.name %></td>
				  <td><%= i.unit_price%> </td>
				  <td> <%= i.quantity%> </td>
					<td><%= i.amount%></td>
			  </tr>
			<%end%>
		</tbody>
</table>

	Total:  <%= @order.total_amount %>
<%end %>
<br>

<%= link_to 'Edit', edit_order_path(@order) %>

