
<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>
<br>
<p>
  <strong>Department:</strong>
  <%= @company.department %>
</p>
<br>
<p>
  <strong>phone:</strong>
  <%= @company.phone_number %>
</p>
<br>
<p>
  <strong>fax:</strong>
  <%= @company.fax %>
</p>
<br>
<%= link_to 'Edit', edit_company_path(@company)%>
<%= link_to 'Back', companies_path %>

