<%= simple_nested_form_for @product, html: {class: "form-material form-horizontal"} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :code %>
    <%= f.input :price %>
    <%= f.input :stock_in_hand %>
  </div>
  <%= f.submit 'Save',class: "btn btn-info btn-lg"%>
<% end %>
