<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :code %>
    <%= f.input :company_id, collection: Company.all.map{|a| [a.name, a.id]} %>
    <%= f.input :price %>
    <%= f.input :stock_in_hand %>
    <%= f.fields_for :order_items do |a| %>
      <%= a.input 'quantity', label: "Quantity" %>
    <%end%>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
