<p id="notice"><%= notice %></p>
<div class="col-sm-12">
  <div class="white-box">
    <h3 class="box-title m-b-0">PRODUCTS</h3>
    <p class="text-muted m-b-30">Export data to Copy, CSV, Excel, PDF & Print</p>
      <div class="table-responsive">
        <table id="example23" class="display nowrap" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Name</th>
              <th>code</th>
              <th>Price</th>
              <th>Stock</th>
              <th >View</th>
              <th>Edit</th>
              <th> Delete </th>
            </tr>
          </thead>
            <tbody>
              <% @products.each do |product| %>
                <tr>
                  <td><%= product.name %></td>
                  <td><%= product.code %></td>
                  <td><%= product.price %></td>
                  <td><%= product.stock_in_hand %></td>
                  <td><%= link_to 'Show', product %></td>
                  <td><%= link_to 'Edit', edit_product_path(product) %></td>
                  <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <%end%>
            </tbody>
        </table>
      </div>
  </div>
</div>

<script>
  $(document).ready(function() {
      $('#myTable').DataTable();
      $(document).ready(function() {
          var table = $('#example').DataTable({
              "columnDefs": [{
                  "visible": false,
                  "targets": 2
              }],
              "order": [
                  [2, 'asc']
              ],
              "displayLength": 25,
              "drawCallback": function(settings) {
                  var api = this.api();
                  var rows = api.rows({
                      page: 'current'
                  }).nodes();
                  var last = null;
                  api.column(2, {
                      page: 'current'
                  }).data().each(function(group, i) {
                      if (last !== group) {
                          $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                          last = group;
                      }
                  });
              }
          });
          // Order by the grouping
          $('#example tbody').on('click', 'tr.group', function() {
            var currentOrder = table.order()[0];
            if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
              table.order([2, 'desc']).draw();
            } else {
              table.order([2, 'asc']).draw();
            }
          });
      });
  });
  $('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
  });
</script>
    <!--Style Switcher -->
<script src="../plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>














