<!DOCTYPE html>
<html>
  <head>
    <title>ProjectCws</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0"/>
  </head>
  <body>
    <%if current_user.present? %>
      <div id="wrapper">
        <%= render partial: 'layouts/header'%>
        <%= render partial: 'layouts/sidebar'%>
            <div id="page-wrapper">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-12">
                        <%= yield %>
                      </div>
                  </div>
              </div>
              <footer class="footer text-center"> 2017 &copy; cWs </footer>
          </div>
      </div>
    <%else%>
      <section id="wrapper" class="login-register">
        <div class="gradient_overlay">
          <div class="login-box">
              <div class="white-box">
                  <%= yield %>
              </div>
          </div>
        </div
      </section>
    <%end%>
  </body>
</html>
